extends layout

block content
  #logo(align='center')
    img(src='/images/SMU-inverse.png', alt='logo', width='30%')
  #instructor(align='center')
    //- h2 辅导员个人信息
    table#info
      tr
        td(rowspan='4', width='25%')
          img(src='/images/photo/#{number}.jpg', width='90%')
        td 学院: #{dept}
        td 专项工作: #{specialwork} 
      tr
        td 姓名: #{name}
        td 所带班级: #{classes}
      tr
        td 性别: #{sex} 
        td 研究方向: #{direction}
      tr
        td 毕业院校: #{university}
        td 办公电话: #{phone} 
    span#num(style='display:none') #{number}
  ul#gallery
  div(style='clear:both')
  div(style='text-align:center; padding-top:60px;')
    button#show(class='button button-3d button-action button-pill button-jumbo', style='font-size:40px; width:auto; margin-right:20px', data-action='show') 显示学生信息
    button#back(class='button button-3d button-action button-pill button-jumbo', style='font-size:40px; width:200px;', data-action='back') 返回
  script(src='/javascripts/jquery.js')
  script(src='/javascripts/buttons.js')
  script(src='/javascripts/stu.js')